/PushUp1.0/nbproject/private/
/PushUp1.0/build/
/FacePull/nbproject/private/
/test/nbproject/private/
/test/build/
/FTPtest/nbproject/private/
/FTPtest/build/
/FacePull2.0/nbproject/private/
/Face_Pull/nbproject/private/